@import 'vue3-perfect-scrollbar/style.css';
@import 'notivue/notification.css'; // Only needed if using built-in notifications
@import 'notivue/animations.css'; // Only needed if using built-in animations

/*This is for the logo*/
$box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);

input:-webkit-autofill,
input:-webkit-autofill:focus {
    background-color: transparent !important;
    box-shadow: 0 0 0px 1000px white inset !important;
}

.bg-color {
    background-color: #fafafa !important;
}

.v-input {
    .v-input__details {
        padding-inline: 0;
    }
}

.outlined {
    border: 1px solid rgb(216, 216, 216);
}

.page-wrapper {
    background: rgb(var(--v-theme-background));

    .v-container {
        &:first-child {
            min-height: calc(100vh - 139px);
        }

        padding: 20px;

        @media (max-width: 1550px) {
            max-width: 100%;
        }

        @media (min-width: 768px) {
            padding-inline: 25px;
        }
    }
}

.profileBtn {
    height: 44px !important;
    margin: 0 20px 0 10px !important;
    padding: 0 6px;

    .v-avatar {
        width: 32px;
        height: 32px;

        img {
            width: 32px;
            height: 32px;
        }
    }
}

@media (max-width: 600px) {
    .profileBtn {
        min-width: 42px;
        margin: 0 12px 0 0 !important;

        .v-avatar {
            width: 24px;
            height: 24px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.leftSidebar {
    border: 0px;
    box-shadow: none !important;
    border-right: 1px solid rgba(var(--v-theme-borderColor), 0.8);

    .logo {
        padding-left: 7px;
    }
}

/*This is for the Vertical sidebar*/
.scrollnavbar {
    height: calc(100vh - 110px);


    .v-list {
        color: rgb(var(--v-theme-lightText));
        padding: 0;

        .v-list-item--one-line {
            &.v-list-item--active {
                border-right: 2px solid rgb(var(--v-theme-primary));
            }
        }

        .v-list-group {
            .v-list-item--one-line {
                &.v-list-item--active.v-list-item--link {
                    border-right: 2px solid rgb(var(--v-theme-primary));
                }

                &.v-list-item--active.v-list-group__header {
                    border-right: none;
                    background: transparent;
                }
            }

            .v-list-group__items {

                .v-list-item--link,
                .v-list-item {
                    .v-list-item__prepend {
                        margin-inline-end: 1px;
                    }
                }
            }
        }
    }

    .v-list-group__items .v-list-item,
    .v-list-item {
        border-radius: 0;
        padding-inline-start: calc(20px + var(--indent-padding) / 2) !important;

        .v-list-item__prepend {
            margin-inline-end: 10px;
        }

        .v-list-item__append {
            font-size: 0.875rem;

            .v-icon {
                margin-inline-start: 10px;
            }

            >.v-icon {
                --v-medium-emphasis-opacity: 0.8;
            }
        }

        .v-list-item-title {
            font-size: 0.875rem;
            color: rgb(var(--v-theme-darkText));
        }

        &.v-list-item--active {
            .v-list-item-title {
                color: rgb(var(--v-theme-primary));
            }
        }
    }
}